<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <title>Registro - Vigente Card Game</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header class="hero card-hero">
        <div class="hero-content">
            <h1>Registro</h1>
        </div>
    </header>

    <div class="container">
        <main>
            <section class="card-detail-section">
                <div class="card-image-container">
                    <img src="/assets/images/reciclagem-card.svg" alt="Carta Registro" class="responsive-image">
                </div>
            </section>
            <div class="card-description">
                <h2>Sobre a carta</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
                
                <div class="card-info">
                    <h3>Links úteis</h3>
                    <ul>
                        <li><a href="https://www.google.com" target="_blank">Link 1</a></li>
                    </ul>
                </div>
            </div>
        </main>
    </div>

    <footer>
        <div class="footer-links">
            <a href="/" class="nav-link"><i class="fas fa-home"></i> Página Inicial / Tutorial</a>
        </div>
        <p>&copy; 2024 Vigente Card Game. All rights reserved.</p>
    </footer>
</body>
</html>